/// This is the styles for the home page

.home-jumbo {
  font-family: $heading-font-stack;
  width: 100%;
  height: auto;
  margin: 0 auto 20%;

  .home-jumbo-image {
    display: block;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center center;
    position: relative;

    .cover {
      @include cover-div();

      background: rgba(0, 0, 0, 0.3);
    }

    .home-jumbo-excerpt {
      position: absolute;
      top: 46%;
      font-size: 3em;
      color: white;
      line-height: 1.25;
      left: 5%;
      letter-spacing: -1px;
      word-spacing: -40%;
    }
  }

  .home-jumbo-control {
    display: block;
    width: 56px;
    height: 56px;
    background: $black;
    position: absolute;
    bottom: 6%;
    left: 7%;

    span {
      @include flex-align-all-center();

      width: 100%;
      height: 100%;
      color: $white;

      &::before {
        font-size: 1.25em;
      }
    }
  }
}

.home-showcase {
  h2 {
    font-family: $heading-font-stack;
    font-size: 2.25em;
    letter-spacing: -1px;
    word-spacing: -40%;
  }

  .content-showcase {
    display: block;
    padding: 1em;

    p {
      font-family: $paragarph-font-light-stack;
    }

    > p:nth-child(1) {
      font-family: $paragarph-font-regular-stack;
      font-weight: bold;
    }
  }
}
